.imageDesign {
    height: 300px;
    width: 300px;
}

 .outerDiv {
    position: relative;
  }
 
  .previousClick {
    position: absolute;
    top: 150px;
    left: 530px;
  }
  /*
  .imageDiv {
    vertical-align: middle;
    width: 33.3333%;
  }
  */
  .nextClick {
    position: absolute;
    top: 150px;
    right: 560px;
    font-size: 18px;
  } 