.imageDesign {
    height: 300px;
    width: 300px;
}

 .outerDiv {
    position: relative;
  }
 
  .previousClick {
    position: absolute;
    top: 50%;
    left: 30%;
  }
  
  .nextClick {
    position: absolute;
    top: 50%;
    right: 30%;
    font-size: 18px;
  } 

  .displayTags {
    position: absolute;
    top: 10%;
    left: 40%;
  }
  
  .clickTag {
    position: absolute;
    top: 10%;
    right: 30%;
  } 

  .selectTag {
    position: absolute;
    top: 10%;
    left: 50%;
    }